<% include ../partials/header %>

<div class="row justify-content-center">
  
  <div class="col-md-12 col-sm-12 text-center">
    <form class="form-signin" action="/campgrounds/<%=campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

      <div class="container">
        <h2 class="mb-3 font-weight-normal">Edit <%= campground.name %></h2>
        </div>

      </div>
      
      
      <div class="col-sm-12 col-md-8 col-lg-6">

        <div class="form-group">
          <label for="editCampgroundname" class="sr-only">Campground Name</label>
          <input class="form-control" id="editCampgroundname" type="text" 
          name="campground[name]" value="<%=campground.name%>" 
          pattern="[a-zA-Z0-9\s]{5,20}" title="Campground Name Must Be between 5 and 20 Letters. Can Have Numbers" required autofocus>
        </div>
        

        <div class="form-group">
          <label for="editPrice" class="sr-only">Price</label>
          <input class="form-control" id="editPrice" type="number"
          name="campground[price]" value="<%= campground.price %>"  min="0.01" step="0.01" title="Price Will Round To Nearest Cent" required>
        </div>

        <div class="form-group">
          <label for="editImage" class="sr-only">Image</label>
          <input type="file" id="editImage" name="image"  accept="image/*"  title="Image Must Be an JPG or PNG">
        </div>
        

        <div class="form-group">
          <label for="editDescription" class="sr-only">Description</label>
          <input class="form-control" type="text" id="editDescription"  name="campground[description]" 
          value="<%= campground.description %>" title="Give A Description To The Campground" required>
        </div>
        
        <div class="form-group">
          <button class="btn btn-lg btn-outline-primary btn-block">Submit</button>
        </div>
        
        
      </form>

      <div class="form-group">
        <a href="/campgrounds">Go Back</a>
      </div>

    </div> 
    
  </div>
  


  <% include ../partials/footer %>
  
  