<% include ../partials/header %>


<div class="row">
  <div class="col-md-2">
    
  </div>
  
  <div class="col-md-8">
    <div class="card mb-4">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="float-right">
          $<%= campground.price %>/night
        </p>
        
        <h5 class="card-title"><%= campground.name %></h5>
        <p></p><em>Submitted by: <a href="/users/<%=campground.author.id%>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em></p>
        
        <hr>
        
        <p class="card-text"><%= campground.description %></p>
        
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <p class="card-text">Views: <%= campground.views %></p>
        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>


        <% } %>
      </div>
      
      
    </div>
    
    <!--------------------------------------------------------------------------------------------------------------------->

    <!--COMMENT SECTION START-->
    <div class="card mb-4">
      
      <div class="card-body">
        
        <div class="float-right">
          
          <a class="btn btn-sm btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            <i class="fas fa-plus" aria-hidden="true"></i> New Comment</a>
            
          </div>

          <!--Comment section title-->
          <p class="h6 mt-1">Comments <i class="fas fa-comments mb-2" aria-hidden="true"></i></p>
          <hr>

          <!--Collapse Add a comment form START-->
          <div class="collapse" id="collapseComment">
            <div class="card-body">
              
              <% if(!currentUser) { %>
              <!--If the user is not logged in, direct him to the login page-->
              <h6 class="text-center">You Need To Login Before You Can Comment. <a href="/login">Click here</a> to go to the login page.</h6>
              <hr>
              <% } %>
              
              <% if(currentUser) { %>
              <!--If the user is logged in, show the new comment form-->
              
              <h5>New Comment <i class="fas fa-pencil-alt aria-hidden="true""></i></h5>
              <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                
                <div class="form-group">
                  <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                </div>
                
                <div class="form-group">
                  <button class="btn btn-success btn-sm"><i class="fas fa-comments" aria-hidden="true"></i> Comment</button>
                </div>
                
              </form>
              
              <% } %>
            </div>
          </div>
          
          <!--Collapse Add a comment form END-->

          <!--------------------------------------------------------------------------------------------------------------------->      

          <!--Check if there are comments, if there are none say no comments.-->
          
          <% if (campground.comments.length === 0) { %>
          <em class="egray">No comments yet.</em>
          <% } %>

          <!--Display comments by looping through them-->
          <% campground.comments.reverse().forEach(function(comment) { %>
          <div class="card-text">
            
            <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin) { %>
              
              <!--If the current user owns the comment, change the color of the user icon-->
              <i class="fas fa-user eblue" aria-hidden="true"></i></span>
              
              <% } else { %>
              
              <!--Else just display it black-->
              <i class="fas fa-user" aria-hidden="true"></i></span>
              <% } %>
              <!--Print out the author username-->
              <%= comment.author.username %>
            </strong>
            
            <!--Show when the comment was made-->
            <p class="float-right"><%= moment(comment.createdAt).fromNow() %></p>
            
            <!--Printing the comment-->
            <p class="mt-2"><%= comment.text %></p>
            <!--------------------------------------------------------------------------------------------------------------------->    

            <div>    
              <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
              
              <!--Edit button used for collapsing the edit comment form-->
              <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
              Edit</a>
              
              <!--Delete comment button-->
              <form id="delete-form" class="fdisplay" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              
            </div>
            
            <!--Edit comment form-->
            <div class="collapse" id="collapseEdit<%= comment._id %>">
              <div class="card-body">
                <h5>Edit Comment <i class="fas fa-edit" aria-hidden="true"></i></h5>
                
                <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                  
                  <div class="form-group">
                    <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                  </div>
                  
                  <div class="form-group">
                    <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                  </div>
                  
                  <div class="form-group">
                    <button class="btn btn-warning btn-sm">Edit Comment <i class="fas fa-comments" aria-hidden="true"></i></button>
                  </div>
                </form>
                
              </div>
              <% } %>
            </div>
            
            <hr>
          </div>

          <% }) %>
        </div>
        
      </div>
      


    </div>
  </div>


  <% include ../partials/footer %>